.Tweet {
  margin-bottom: 1rem;
}

.Tweet-media-nickName-avatar {
  float: left;
  width: 30px;
  margin: 0 1rem 0 0;
  border-radius: .25rem;
}

/*.Tweet {*/
    /*display: flex;*/
    /*align-items: flex-start;*/
    /*padding-top: 28px;*/
    /*padding-bottom: 30px;*/
    /*padding-left: 60px;*/
    /*padding-right: 30px;*/
/*}*/

/*Tweet-media {*/
    /*width: 80px;*/
    /*height: 118px;*/
    /*margin-right: 20px;*/
    /*text-align: center;*/
/*}*/

/*.Tweet-content {*/
    /*align-self: center;*/
    /*flex: 1;*/
    /*font-size: 18px;*/
    /*font-weight: 400;*/
/*}*/

/*.Tweet-content-date {*/
    /*position: relative;*/
    /*left: -280px;*/
    /*font-size: 12px;*/
/*}*/

/*.Tweet-content-tweet {*/

/*}*/

/*.Tweet-media-nickName {*/
    /*text-align: center;*/
/*}*/
