<div class="InputTweet">
  <h1 class="InputTweet-title display-3">
    Dodaj tweeta!
  </h1>

  <div>
    <div class="form-group">
      <textarea #tweet type="text" class="form-control form-control-lg" placeholder="Co słychać?"></textarea>
    </div>
    <div class="form-group">
        <input #nickName type="text" class="form-control form-control-lg" placeholder="Nick">
    </div>
    <div class="form-group">
      <button (click)="addTweet(tweet.value, nickName.value)" class="btn btn-primary" type="button">Dodaj Tweeta!</button>
    </div>
  </div>
</div>
